@font-face {
    font-family: 'iconfont';  /* project id 2504797 */
    src: url('http://at.alicdn.com/t/font_2504797_duxsv200zcl.eot');
    src: url('http://at.alicdn.com/t/font_2504797_duxsv200zcl.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_2504797_duxsv200zcl.woff2') format('woff2'),
    url('http://at.alicdn.com/t/font_2504797_duxsv200zcl.woff') format('woff'),
    url('http://at.alicdn.com/t/font_2504797_duxsv200zcl.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_2504797_duxsv200zcl.svg#iconfont') format('svg');
  }